In [2]:
studentdata = []
first_student = {
        "name":input("1st student name: "),"age":input("your age: "),"work":input("your work: "),
        "skills":[input("your skills: ")],
        "degree":{"title":input("degree tile: "),"major":input("degree major: "),
                  "completiondate":input("degree completion date: ")},
        "salary":input("your salary: ")
                }

second_student = {
        "name":input("2nd student name: "),"age":input("your age: "),"work":input("your work: "),
        "skills":[input("your skills: ")],
        "degree":{"title":input("degree tile: "),"major":input("degree major: "),
                  "completiondate":input("degree completion date: ")},
        "salary":input("your salary: ")
                }

third_student = {
        "name":input("3rd student name: "),"age":input("your age: "),"work":input("your work: "),
        "skills":[input("your skills: ")],
        "degree":{"title":input("degree tile: "),"major":input("degree major: "),
                  "completiondate":input("degree completion date: ")},
        "salary":input("your salary: ")
                }

studentdata.append(first_student)
studentdata.append(second_student)
studentdata.append(third_student)
studentdata

1st student name: Ammar
your age: 27
your work: A.I
your skills: C++,python,C
degree tile: BSC
degree major: Electronics
degree completion date: 2014
your salary: 50,000
2nd student name: Usman
your age: 26
your work: Engineer
your skills: PLC,C++,Sinamics
degree tile: BSC
degree major: Electrical
degree completion date: 2016
your salary: 65,000
3rd student name: Uzair
your age: 30
your work: Engineer
your skills: PLC,C++,Computing
degree tile: BSC
degree major: Electrical
degree completion date: 2014
your salary: 55,000

[{'name': 'Ammar',
  'age': '27',
  'work': 'A.I',
  'skills': ['C++,python,C'],
  'degree': {'title': 'BSC', 'major': 'Electronics', 'completiondate': '2014'},
  'salary': '50,000'},
 {'name': 'Usman',
  'age': '26',
  'work': 'Engineer',
  'skills': ['PLC,C++,Sinamics'],
  'degree': {'title': 'BSC', 'major': 'Electrical', 'completiondate': '2016'},
  'salary': '65,000'},
 {'name': 'Uzair',
  'age': '30',
  'work': 'Engineer',
  'skills': ['PLC,C++,Computing'],
  'degree': {'title': 'BSC', 'major': 'Electrical', 'completiondate': '2014'},
  'salary': '55,000'}]

In [4]:
studentdata = [
                {"name":input("1st student name: "),"age":input("your age: "),"work":input("your work: "),
            "skills":[input("your skills: ")],
                "degree":{"title":input("degree tile: "),"major":input("degree major: "),"completiondate":input("degree completion date: ")},
                "salary":input("your salary: ")
                },
              
               {"name":input("2nd student name: "),"age":input("your age: "),"work":input("your work: "),
            "skills":[input("your skills: ")],
                "degree":{"title":input("degree tile: "),"major":input("degree major: "),"completiondate":input("degree completion date: ")},
                "salary":input("your salary: ")
               },
              
               {"name":input("3rd student name: "),"age":input("your age: "),"work":input("your work: "),
            "skills":[input("your skills: ")],
                "degree":{"title":input("degree tile: "),"major":input("degree major: "),"completiondate":input("degree completion date: ")},
                "salary":input("your salary: ")
               }
]
studentdata

1st student name: Ammar
your age: 25
your work: A.I
your skills: python,C++,C
degree tile: BSC
degree major: Electronics
degree completion date: August 2014
your salary: 50,000
2nd student name: Usman
your age: 23
your work: A.I
your skills: PLC,C++,Simatic manager
degree tile: BSC
degree major: Electrical
degree completion date: SEP 2016
your salary: 65,000
3rd student name: Uzair
your age: 30
your work: Engineer
your skills: Electrical,C++,Computing
degree tile: BSC
degree major: Telecom
degree completion date: July 2012
your salary: 85,000

[{'name': 'Ammar',
  'age': '25',
  'work': 'A.I',
  'skills': ['python,C++,C'],
  'degree': {'title': 'BSC',
   'major': 'Electronics',
   'completiondate': 'August 2014'},
  'salary': '50,000'},
 {'name': 'Usman',
  'age': '23',
  'work': 'A.I',
  'skills': ['PLC,C++,Simatic manager'],
  'degree': {'title': 'BSC',
   'major': 'Electrical',
   'completiondate': 'SEP 2016'},
  'salary': '65,000'},
 {'name': 'Uzair',
  'age': '30',
  'work': 'Engineer',
  'skills': ['Electrical,C++,Computing'],
  'degree': {'title': 'BSC',
   'major': 'Telecom',
   'completiondate': 'July 2012'},
  'salary': '85,000'}]

# Part 2

In [38]:
a = int(input("First Table = "))
b = int(input("Second Table = "))
c = int(input("Third Table = "))
d = int(input("Fourth Table = "))
e = int(input("Fivith Table = "))
f = int(input("Sixith Table = "))
print ("*" * 100 )

for i in range(1,11):
    print(f"{i}x{a} = {i*a}",end=" \t")
    print(f"{i}x{b} = {i*b}",end=" \t")
    print(f"{i}x{c} = {i*c}",end=" \t")
    print(f"{i}x{d} = {i*d}",end=" \t")
    print(f"{i}x{e} = {i*e}",end=" \t")
    print(f"{i}x{f} = {i*f}")

First Table = 5
Second Table = 6
Third Table = 7
Fourth Table = 8
Fivith Table = 9
Sixith Table = 10
****************************************************************************************************
1x5 = 5 	1x6 = 6 	1x7 = 7 	1x8 = 8 	1x9 = 9 	1x10 = 10
2x5 = 10 	2x6 = 12 	2x7 = 14 	2x8 = 16 	2x9 = 18 	2x10 = 20
3x5 = 15 	3x6 = 18 	3x7 = 21 	3x8 = 24 	3x9 = 27 	3x10 = 30
4x5 = 20 	4x6 = 24 	4x7 = 28 	4x8 = 32 	4x9 = 36 	4x10 = 40
5x5 = 25 	5x6 = 30 	5x7 = 35 	5x8 = 40 	5x9 = 45 	5x10 = 50
6x5 = 30 	6x6 = 36 	6x7 = 42 	6x8 = 48 	6x9 = 54 	6x10 = 60
7x5 = 35 	7x6 = 42 	7x7 = 49 	7x8 = 56 	7x9 = 63 	7x10 = 70
8x5 = 40 	8x6 = 48 	8x7 = 56 	8x8 = 64 	8x9 = 72 	8x10 = 80
9x5 = 45 	9x6 = 54 	9x7 = 63 	9x8 = 72 	9x9 = 81 	9x10 = 90
10x5 = 50 	10x6 = 60 	10x7 = 70 	10x8 = 80 	10x9 = 90 	10x10 = 100

In [46]:
a = int(input("First Table = "))
b = int(input("Second Table = "))
c = int(input("Third Table = "))
d = int(input("Fourth Table = "))
e = int(input("Fivith Table = "))
f = int(input("Sixith Table = "))
print ("*" * 100 )

for i in range(1,11):
    print(f"{i}x{a} = {i*a}")
print("\n")
for i in range(1,11):
    print(f"{i}x{b} = {i*b}")
print("\n")
for i in range(1,11):
    print(f"{i}x{c} = {i*c}")
print("\n")
for i in range(1,11):
    print(f"{i}x{d} = {i*d}")
print("\n")
for i in range(1,11):
    print(f"{i}x{e} = {i*e}")
print("\n")
for i in range(1,11):
    print(f"{i}x{f} = {i*f}")

First Table = 5
Second Table = 6
Third Table = 7
Fourth Table = 8
Fivith Table = 9
Sixith Table = 10
****************************************************************************************************
1x5 = 5
2x5 = 10
3x5 = 15
4x5 = 20
5x5 = 25
6x5 = 30
7x5 = 35
8x5 = 40
9x5 = 45
10x5 = 50


1x6 = 6
2x6 = 12
3x6 = 18
4x6 = 24
5x6 = 30
6x6 = 36
7x6 = 42
8x6 = 48
9x6 = 54
10x6 = 60


1x7 = 7
2x7 = 14
3x7 = 21
4x7 = 28
5x7 = 35
6x7 = 42
7x7 = 49
8x7 = 56
9x7 = 63
10x7 = 70


1x8 = 8
2x8 = 16
3x8 = 24
4x8 = 32
5x8 = 40
6x8 = 48
7x8 = 56
8x8 = 64
9x8 = 72
10x8 = 80


1x9 = 9
2x9 = 18
3x9 = 27
4x9 = 36
5x9 = 45
6x9 = 54
7x9 = 63
8x9 = 72
9x9 = 81
10x9 = 90


1x10 = 10
2x10 = 20
3x10 = 30
4x10 = 40
5x10 = 50
6x10 = 60
7x10 = 70
8x10 = 80
9x10 = 90
10x10 = 100